[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/ghazal"]
	path = themes/ghazal
	url = https://github.com/darshanbaral/ghazal.git
